@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;500;700;900&family=Outfit:wght@100;300&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: 0;
  box-sizing: border-box;
  transition: all ease 0.2s;
  list-style-type: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
source {
  max-width: 100%;
  display: block;
  object-fit: cover;
  line-height: 0;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* remove all button styles */
button {
  all: unset;
  cursor: pointer;
}

body {
  line-height: 1.3;
  text-rendering: optimizeSpeed;
  font-family: 'Big Shoulders Display', sans sans-serif;
  background-color: white;
}


:root {
  --brown: hsla(24, 56%, 63%, 1);
  --black: hsla(0, 0%, 8%, 1);
  --gray: hsla(0, 0%, 27%, 1);
  --white: hsla(0, 0%, 100%, 1);
}

/* heading */

.heading-xl {
  font: 900 96px/88px 'Big Shoulders Display', sans-serif;
  text-transform: uppercase;
  color: var(--black);
}

.heading-l {
  font: 900 70px/70px 'Big Shoulders Display', sans-serif;
  text-transform: uppercase;
  color: var(--black);
}

.heading-m {
  font: 900 60px/60px 'Big Shoulders Display', sans-serif;
  text-transform: uppercase;
  color: var(--black);
}

.heading-s {
  font: 900 36px/36px 'Big Shoulders Display', sans-serif;
  text-transform: uppercase;
  color: var(--black);
}

.body-m {
  font: 300 18px/32px 'Outfit', sans-serif;
  color: var(--gray);
}

.body-m-white {
  font: 300 18px/32px 'Outfit', sans-serif;
  color: var(--white);
}

span {
  font-weight: bold;
}

.body-s {
  font: 300 18px/28px 'Outfit', sans-serif;
  color: var(--gray);
}

.body-xs {
  font: 200 18px/24px 'Outfit', sans-serif;
  color: var(--white);
  max-width: 370px;
}

.white {
  color: var(--white);
}

.brown {
  color: var(--brown);
}

.btn {
  display: flex;
  max-width: 260px;
  z-index: 1;
  background-color: var(--black);
  justify-content: flex-end;
}

.btn-2 {
  display: flex;
  max-width: 260px;
  z-index: 1;
  background-color: var(--black);
  justify-content: flex-end;
  z-index: 2;
  position: absolute;
  top: 0;
  flex-direction: row-reverse;
}

.btn-link {
  padding: 24px 35px;
  font: 600 20px/24px 'Big Shoulders Display', sans-serif;
  letter-spacing: 3.2px;
  color: var(--white);
  text-transform: uppercase;
  transition: all ease 0.3s;
}

.btn:hover,
.btn-2:hover {
  background-color: var(--brown);
  transition: all ease 0.3s;
}

.arrow-right,
.arrow-left {
  padding: 16px;
  background-color: var(--brown);
  transition: all ease 0.3s;
}

.arrow-right:hover,
.arrow-left:hover {
  background-color: var(--black);
  transition: all ease 0.3s;
}

.btn-link:hover~.arrow-right {
  background-color: var(--black);
  transition: all ease 0.3s;
}

.btn-link:hover {
  background-color: var(--brown);
}


.arrow-right img,
.arrow-left img {
  padding: 10px;
}

/* css */

/* leaflet */

#map {
  height: 600px;
  z-index: 1;
  filter: grayscale(100);
}

header {
  background: linear-gradient(270deg, #FFFFFF 50%, hsla(0, 0%, 8%, 1) 50%);
}



.container {
  max-width: 1110px;
  margin: 0 auto;
  padding-inline: 20px;
}

.hero-section {
  display: flex;
  padding-block: 190px 300px;
  margin-bottom: 180px;
  background-repeat: no-repeat;
  background-image: url(./assets/desktop/image-hero.jpg);
  background-position: 50% 50%;
  justify-content: space-between;
}

.hero-image-mobile {
  display: none;
}

.h1-heading {
  max-width: 450px;
  mix-blend-mode: difference;
  color: var(--white);
}

.hero-paragraph {
  max-width: 300px;
}


/* grid */

.grid {
  display: grid;
  gap: 30px;
  margin-block: 180px;
  max-width: 100%;
  grid-template-columns: 1fr 160px 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    't1 t2 t2'
    'l1 l1 r1'
    'l1 l1 r2';
  transition: all ease 0.5s;
}

.top-feature-left {
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 32px;
  background: linear-gradient(125.02deg, #FCFCFC -1.38%, #ECECEC 100%);
  grid-area: t1;
}

.top-feature-right {
  display: flex;
  grid-area: t2;
  max-width: 100%;
  overflow: hidden;
}

.left-feature {
  display: flex;
  grid-area: l1;
  max-width: 100%;
  overflow: hidden;
}

.right-feature-1 {
  display: flex;
  grid-area: r1;
  max-width: 100%;
  overflow: hidden;
}

.right-feature-2 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-area: r2;
  max-width: 100%;
  padding: 50px;
  background: linear-gradient(305.67deg, rgb(51, 51, 51)0%, rgb(40, 40, 40) 100%);
}

/* card hover effects */

.top-feature-right img,
.left-feature img {
  transform: scale(1);
  transition: all ease 1s;
}

.top-feature-right img:hover,
.left-feature img:hover,
.right-feature-1 img:hover {
  transform: scale(1.05);
  transition: all ease 0.5s;
}

footer {
  background-color: var(--black);
  padding-block: 56px;
}

.flex {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: flex-start;
}

.social,
.social-2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 24px;
}

.social svg:hover {
  fill: var(--brown);
}

.social svg:hover {
  fill: var(--black);
}

.social svg {
  display: flex;
  height: 30px;
  width: 30px;
  fill: white;
  gap: 40px;
}

.social svg:hover {
  fill: var(--brown);
}

.social-2 svg {
  display: flex;
  height: 30px;
  width: 30px;
  fill: white;
  gap: 40px;
}

.social-2 svg:hover {
  fill: var(--black);
}

.location {
  background-color: var(--brown);
}

.bg {
  background-color: var(--black);
}

.adress p {
  color: white;
  max-width: 540px;
  font: 200 18px/24px 'Outfit', sans-serif;
  color: var(--white);
}

.adress {
  display: flex;
  gap: 40px;
  padding-block: 90px;
  justify-content: space-between;
}

.adress-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logo path,
.logo-2 path {
  display: flex;
  padding: 30px;
  width: 400px;
  fill: var(--white);
  transition: all ease 0.3s;
}

.logo path:hover {
  fill: var(--brown);
  transition: all ease 0.3s;
}

.logo-2 path:hover {
  fill: var(--black);
  transition: all ease 0.3s;
}

.logo {
  object-fit: initial;
  width: 160px;
  transform: scale(1);
}


/* paddings and margins */

.pb-64 {
  padding-bottom: 64px;
}

/* tablet layout */

@media (max-width: 800px) {
  .container {
    max-width: 700px;
  }

  header {
    background: var(--white) url(./assets/tablet/image-hero.jpg) no-repeat;
  }

  .hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-block: 100px;
    margin-bottom: 0;
    background-image: initial;
  }

  .hero-text {
    grid-column: 2;
  }

  .heading-xl {
    font: 900 60px/60px 'Big Shoulders Display', sans-serif;
    grid-column: 2;
    max-width: 280px;
    text-transform: uppercase;
  }

  .heading-l {
    font: 900 50px/55px 'Big Shoulders Display', sans-serif;
  }

  .heading-m {
    font: 900 50px/52px 'Big Shoulders Display', sans-serif;
  }

  .body-m {
    font: 300 16px/28px 'Outfit', sans-serif;
    color: var(--gray);
  }

  .adress {
    display: flex;
    gap: 100px;
    justify-content: flex-start;
  }

  .adress p {
    max-width: 340px;
    font: 200 16px/20px 'Outfit', sans-serif;
  }


  .pb-64 {
    padding-bottom: 48px;
  }

  /* grid */

  .grid {
    display: grid;
    gap: 20px;
    margin-block: 180px;
    max-width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      't1 t2 t2'
      'l1 l1 r1'
      'l1 l1 r2';
  }

  .top-feature-left {
    padding: 46px;
    align-items: center;
    justify-content: flex-start;
  }

  .social,
  .social-2 {
    gap: 10px;
  }

  .body-xs {
    max-width: 265px;
  }
}

@media (max-width: 540px) {
  header {
    background: var(--white);
  }

  .hero-section {
    display: flex;
    gap: 36px;
    padding-block: 36px;
    flex-direction: column;
  }

  .hero-image-mobile {
    display: flex;
    object-fit: cover;
    max-width: 100%;
  }

  .hero-paragraph {
    max-width: 100%;
  }

  .btn-link {
    padding: 8px 16px;
    font: 600 12px/20px 'Big Shoulders Display', sans-serif;
  }

  .btn,
  .btn-2 {
    gap: 10px;
    max-width: 180px;
    align-items: center;
    justify-content: space-between;
  }

  .arrow-right {
    padding: 8px 6px;
  }

  .flex {
    flex-direction: column;
  }

  /* 
  footer */

  .adress {
    gap: 20px;
    justify-content: flex-start;
    flex-direction: column;
  }

  .adress {
    gap: 20px;
    padding-block: 40px;
  }

  .heading-l {
    font: 900 40px/44px 'Big Shoulders Display', sans-serif;
  }

  .heading-s {
    font: 900 28px/30px 'Big Shoulders Display', sans-serif;
  }

  .grid {
    display: flex;
    gap: 20px;
    margin-block: 40px;
    flex-direction: column;
  }
}

@media (hover:hover) {
  .grid:hover>picture:not(:hover) {
    filter: grayscale(100);
    transition: all ease 0.5s;
  }

  .grid:hover>picture {
    filter: grayscale(0);
    transition: all ease 1.5s;
  }

  .grid picture,
  .grid img {
    filter: saturate(1);
    transition: all ease 1.5s;
  }


  .grid picture:hover {
    filter: saturate(2);
    transition: all ease 0.5s;
  }

  .right-feature-2:hover,
  .top-feature-left:hover {
    filter: invert(100);
    transition: all ease 0.5s;
  }
}

/* animations */
.hero-section {
  -webkit-animation: animateBackground ease-out 2s;
  transition: all ease-in 1.5s;
  animation-delay: 500ms;
}

h1,
.hero-text {
  -webkit-animation: slideInTop ease-out 2s;
  transition: all ease-out 1.5s;
  animation-delay: 600ms;
}

@keyframes animateBackground {
  0% {
    background-position: 50% -2000%;
  }

  100% {
    background-position: 50% 50%;
  }
}


@keyframes slideInTop {
  0% {
    transform: translateY(-150px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}



@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}