@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;500;700;900&family=Outfit:wght@100;300&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: 0;
  box-sizing: border-box;
  transition: all ease 0.2s;
  list-style-type: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  line-height: 0;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* remove all button styles */
button {
  all: unset;
  cursor: pointer;
}

body {
  line-height: 1.3;
  text-rendering: optimizeSpeed;
  font-family: 'Big Shoulders Display', sans sans-serif;
  background-color: white;
}


:root {
  --brown: hsla(24, 56%, 63%, 1);
  --black: hsla(0, 0%, 8%, 1);
  --gray: hsla(0, 0%, 27%, 1);
  --white: hsla(0, 0%, 100%, 1);
}

/* heading */

.heading-xl {
  font: 900 96px/88px 'Big Shoulders Display', sans-serif;
  text-transform: uppercase;
  color: var(--black);
}

.heading-l {
  font: 900 70px/70px 'Big Shoulders Display', sans-serif;
  text-transform: uppercase;
  color: var(--black);
}

.heading-m {
  font: 900 60px/60px 'Big Shoulders Display', sans-serif;
  text-transform: uppercase;
  color: var(--black);
}

.heading-s {
  font: 900 36px/36px 'Big Shoulders Display', sans-serif;
  text-transform: uppercase;
  color: var(--black);
}

.body-m {
  font: 300 22px/32px 'Outfit', sans-serif;
  color: var(--gray);
}

.body-s {
  font: 300 18px/28px 'Outfit', sans-serif;
  color: var(--gray);
}

.body-xs {
  font: 200 18px/24px 'Outfit', sans-serif;
  color: var(--white);
  max-width: 370px;
}

.white {
  color: var(--white);
}

.brown {
  color: var(--brown);
}

.btn {
  display: flex;
  max-width: 260px;
  z-index: 1;
  background-color: var(--black);
  justify-content: flex-end;
}

.btn-2 {
  display: flex;
  max-width: 260px;
  z-index: 1;
  background-color: var(--black);
  justify-content: flex-end;
  z-index: 2;
  position: absolute;
  top: 0;
  flex-direction: row-reverse;
}

.btn-link {
  padding: 24px 35px;
  font: 600 20px/24px 'Big Shoulders Display', sans-serif;
  letter-spacing: 3.2px;
  color: var(--white);
  text-transform: uppercase;
  transition: all ease 0.3s;
}

.btn:hover,
.btn-2:hover {
  background-color: var(--brown);
  transition: all ease 0.3s;
}

.arrow-right,
.arrow-left {
  padding: 16px;
  background-color: var(--brown);
  transition: all ease 0.3s;
}

.arrow-right:hover,
.arrow-left:hover {
  background-color: var(--black);
  transition: all ease 0.3s;
}

.btn-link:hover~.arrow-right {
  background-color: var(--black);
  transition: all ease 0.3s;
}

.btn-link:hover {
  background-color: var(--brown);
}


.arrow-right img,
.arrow-left img {
  padding: 10px;
}

/* css */

/* leaflet */

#map {
  height: 600px;
  z-index: 1;
  filter: grayscale(100);
}

header {
  background: linear-gradient(270deg, #FFFFFF 50%, hsla(0, 0%, 8%, 1) 50%);
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding-inline: 20px;
}

.hero-section {
  display: flex;
  padding-block: 190px 300px;
  margin-bottom: 180px;
  background-repeat: no-repeat;
  background-image: url(./assets/desktop/image-hero.jpg);
  background-position: center;
  justify-content: space-between;
}

.h1-heading {
  max-width: 450px;
  mix-blend-mode: difference;
  color: var(--white);
}

.hero-paragraph {
  max-width: 350px;
}


/* grid */

.top-feature-left {
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 32px;
  background: linear-gradient(125.02deg, #FCFCFC -1.38%, #ECECEC 100%);
  grid-area: t1;
}

.top-feature-right {
  display: flex;
  grid-area: t2;
  max-width: 100%;
}

.left-feature {
  display: flex;
  grid-area: l1;
  max-width: 100%;
}

.right-feature-1 {
  display: flex;
  grid-area: r1;
  max-width: 100%;
}

.right-feature-2 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-area: r2;
  max-width: 100%;
  padding: 50px;
  background: linear-gradient(305.67deg, rgb(51, 51, 51)0%, rgb(40, 40, 40) 100%);
}

.grid {
  display: grid;
  gap: 30px;
  margin-block: 180px;
  max-width: 100%;
  grid-template-columns: 1fr 160px 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    't1 t2 t2'
    'l1 l1 r1'
    'l1 l1 r2'
  ;
}

footer {
  padding-block: 80px;
}

.flex {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.social {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

footer {
  background-color: var(--black)
}

.location {
  background-color: var(--brown);
}

.bg {
  background-color: var(--black);
}

.adress p {
  color: white;
  max-width: 540px;
  font: 200 18px/24px 'Outfit', sans-serif;
  color: var(--white);
}

.adress {
  display: flex;
  gap: 40px;
  padding-block: 90px;
  justify-content: space-between;
}

.adress-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logo {
  display: flex;
  width: 150px;
}

/* paddings and margins */

.pb-64 {
  padding-bottom: 64px;
}